<nav class="navbar navbar-expand-lg navbar-light bg-primary" style="margin-bottom: 50px;color: white !important;">
  <a class="navbar-brand" href="/home" style="color: white;">Accounts management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    </ul>
    <div style="display: flex;justify-content: center; align-items: center;">
      <span style="font-weight: 500;" class="mr-3">{{curUser.user.role === 1 ? 'Admin' : 'User'}}</span>
      <div class="avatar">
        <img
          [src]="curUser.user.role === 1 ? './../../../assets/avatar_admin.jpg' : './../../../assets/avatar_user.png'" />
      </div>
      <button class="btn btn-success my-2 my-sm-0" type="submit" (click)="logOut()">Logout</button>
    </div>
  </div>
</nav>