<div class="container" class="content-dialog">
    <i (click)="closeDialog()" title="close" class="fa fa-times icon-close" aria-hidden="true"></i>
    <div class="title">
        <h1 style="margin: 0;">
            <b>{{action === 'view'? 'View Detail Account': action === 'add'? 'Add New Account':'Update Information Account'}}</b>
        </h1>
    </div>
    <form [formGroup]="accountForm">
        <div class="row">
            <div class="form-group col-6">
                <label for="formGroupExampleInput">Name<span class="require"> (*)</span></label>
                <input type="text" class="form-control" placeholder="Name" formControlName="name"
                    [attr.disabled]="!isView ? null : ''" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <div class="invalid-error" *ngIf="submitted && f.name.errors">Name is required</div>
            </div>
            <div class="form-group col-6">
                <label for="formGroupExampleInput2">Email<span class="require"> (*)</span></label>
                <input type="text" class="form-control" placeholder="Email" [attr.disabled]="!isView ? null : ''"
                    formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div class="invalid-error" *ngIf="submitted && f.email.errors">
                    <div class="invalid-error" *ngIf="submitted && f.email.errors.required">Email is required</div>
                    <div class="invalid-error" *ngIf="submitted && f.email.errors.pattern">Email's format incorrect
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label for="formGroupExampleInput2">Address<span class="require"> (*)</span></label>
                <input type="text" class="form-control" placeholder="Address" [attr.disabled]="!isView ? null : ''"
                    formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                <div class="invalid-error" *ngIf="submitted && f.address.errors">Address is required</div>
            </div>
            <div class="form-group col-6">
                <label for="formGroupExampleInput2">Age<span class="require"> (*)</span></label>
                <input type="text" class="form-control" placeholder="Age" [attr.disabled]="!isView ? null : ''"
                    formControlName="age" [ngClass]="{ 'is-invalid': submitted && f.age.errors }">
                <div class="invalid-error" *ngIf="submitted && f.age.errors">
                    <div class="invalid-error" *ngIf="submitted && f.age.errors.required">Age is required</div>
                    <div class="invalid-error" *ngIf="submitted && f.age.errors.pattern">Age is only number
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label for="formGroupExampleInput2">Gender <span class="require"> (*)</span></label>
                <select class="custom-select" [attr.disabled]="!isView ? null : ''" formControlName="gender">
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                </select>
            </div>
            <div class="form-group col-6">
                <label for="formGroupExampleInput2">Balance<span class="require"> (*)</span></label>
                <input type="text" class="form-control" placeholder="Balance" [attr.disabled]="!isView ? null : ''"
                    formControlName="balance" [ngClass]="{ 'is-invalid': submitted && f.balance.errors }">
                <div class="invalid-error" *ngIf="submitted && f.balance.errors">
                    <div class="invalid-error" *ngIf="submitted && f.balance.errors.required">Balance is required
                    </div>
                    <div class="invalid-error" *ngIf="submitted && f.balance.errors.pattern">Balance is only number
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label for="formGroupExampleInput2">Account Number<span class="require"> (*)</span></label>
                <input type="text" class="form-control" placeholder="Account Number"
                    [attr.disabled]="!isView ? null : ''" formControlName="account_number"
                    [ngClass]="{ 'is-invalid': submitted && f.account_number.errors }">
                <div class="invalid-error" *ngIf="submitted && f.account_number.errors">
                    <div class="invalid-error" *ngIf="submitted && f.account_number.errors.required">Account number is
                        required
                    </div>
                    <div class="invalid-error" *ngIf="submitted && f.account_number.errors.pattern">Account number is
                        only
                        number
                    </div>
                    <div class="invalid-error" *ngIf="submitted && f.account_number.errors.maxlength">Max length of
                        account number is 13
                    </div>
                    <div class="invalid-error" *ngIf="submitted && f.account_number.errors.minlength">Min length of
                        account number is 10
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 20px;">
            <button *ngIf="action==='add'" type="button" class="btn btn-success" (click)="addAccount()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Add new
            </button>
            <button *ngIf="action==='edit'" type="button" class="btn btn-primary" (click)="updateAccount()">
                <i class="fa fa-pencil-square-o"></i>
                Update
            </button>
        </div>
    </form>
</div>